<nav>
    <div class="sideMenu">
            <div class="SideMenuHeading">
                <div class="menu">NavOptions</div>
                <div class="crossSign"><i class="fa-solid fa-square-xmark"></i></div>
            </div>
            <div class="sideOptions">
                <div class="sideOption"><a href="#Home">Home</a></div>
                <div class="sideOption"><a href="#skills">Skills</a></div>
                <div class="sideOption"><a href="#about">About</a></div>
                <div class="sideOption"><a href="#contact">Contact</a></div>
            </div>
        </div>
        <section id="Home">
            <div class="nav_bar">
            <div class="nav_opt" id="creator">
                <div class="options nav_name">Nishi kant kumar</div>   
            </div>
            <div class="nav_opt nav_options">
            <div class="options">
                <a href="#Home">Home</a>
            </div>
            <div class="options">
                <a href="#skillSection">Skills</a>
            </div>
            <div class="options">
                <a href="#about">About</a>
            </div>
            <div class="options">
                <a href="#contact">Contact</a>
            </div>
          </div>
          <div class="hamDiv"><i class="fa-solid fa-bars"></i></div>
    </div>
</nav>