body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.main{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #3C467B;
    overflow: scroll;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    background-color:#535c91d1;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_opt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav_name{
    font-weight: 800;
    color: #38BDF8;
}
.options{
    margin-right: 50px;
    font-size: 20px;
    padding: 16px;
}
.options a{
    text-decoration: none;
    color: black
}
.options a:hover{
    font-weight: 500;
    text-decoration: underline black;
}
span{
    font-weight:500;
}
.about p{
    line-height: 30px;
    font-weight: 500px;
    font-size: 30px;
    
}
#name{
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin: 15px 15px 15px 0;
    color: #F7E7CE;
}
.name_photo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 200px 0 250px 0;
}
@media (max-width:827px){
    .name_photo{
        display: flex;
        flex-direction: column;
        margin: 150px 0 50px 20px;
    }
    .image{
        margin-top: 10px;
    }
    .name_photo p{
        line-height: 40px;
    }
}
#pic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;
    width: 315px;
    background-color:hotpink;
    box-shadow: 0 0 18px whitesmoke;
    border-radius: 16px;
}
img{
    height:350px;
   width: 300px;
   border-radius: 16px;
}
img:hover{
    box-shadow:0 0 25px hotpink;
}
.skillSection{
    background-color: #50589C;
    border-radius: 16px;
    margin: 16px;
}
.skillSection h1{
    margin-left: 16px;
    padding: 16px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5rem;
    /* background-color: #9ecfd41c; */
    border-radius: 16px;
    margin-top: 30px;
}
.skills:hover{
    border: 1px solid black;
    box-shadow: 0 0 7px pink;
}
.include{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #50589C; */
    color:white;
    font-weight: 600;
    height: 55px;
    border-radius: 13px;
    width: 100px;
    padding: 0.5rem;
    margin: 10px 16px 5px 0;
    border: 2px solid transparent;
}
.include i{
    font-size: 35px;
}
.include:hover{
    box-shadow: 0 0 5px black;
}
.intro_outer{
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}
.intro{
    display: flex;
    flex-direction: column;
    background-color: #6e8cfbab;
    padding: 1.2rem;
    margin: 20px;
    border-radius: 16px;
}
.intro:hover{
    background-color: #6e8cfbc4;
    box-shadow: 0 0 11px hotpink;
}
button{
    width: 120px;
    height: 30px;
    background-color: #b94646;
    color:wheat;
    border-radius: 34px;
    border: none;
    border: 2px solid black;
    text-align: center;
}
button:hover{
    box-shadow: 0 0 5px black;
    background-color: #b946466b;
    border: 2px solid red ;
}
.icons{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin: 1rem;
}
.icon i{
    box-shadow: 0 0 10 hotpink;
    color: rgba(0, 255, 255, 0.737);
    font-size: 30px;
    padding: 0.75rem;
}

.icons i:hover{
    box-shadow: 0 0 20px pink;
}

.contact{
    background-color: rgba(72, 209, 205, 0.607);
}
.details{
    text-align: center;
}

.contact i{
    font-size: 35px;
}
.number{
    font-size: 35px;
}
.number p:hover{
    font-weight: 500;
}