body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.main{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color:#3d0c11;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: gray #3d0c11;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.83);
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_opt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:850px) {
    .nav_options{
        display:none;
    }
}
.nav_name{
    color: #5b5bc9;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.options{
    margin-right: 50px;
    font-size: 20px;
    padding: 16px;
}
.options a{

    text-decoration:underline rgba(0, 0, 0, 0);
    color: white;
    opacity: 0.75;
}
.options a:hover{
    opacity: 1;
    animation: anchorStyle 2s alternate 0s infinite;
}
@keyframes anchorStyle {
    from{
        text-decoration: underline black;
    }
    to{
        text-decoration: underline white;
    }
}
span{
    font-weight:400;
    color: white;
    font-weight: bold;
}
.about p{
    line-height: 30px;
    font-weight: 700px;
    font-size: 30px;
    color:firebrick;
}
#name{
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin: 15px 15px 15px 0;
    color: #F7E7CE;
    text-shadow: 15px 5px 10px black;
}
.name_photo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 200px 0 250px 0;
}
@media (max-width:827px){
    .name_photo{
        display: flex;
        flex-direction: column;
        margin: 150px 10px 50px 20px;
    }
    .image{
        margin-top: 10px;
    }
    .name_photo p{
        line-height: 40px;
    }
}
#pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 320px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 3px black;
}
img{
    height:350px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 0 0 5px 3px black;
}
.skillSection{
    background-color: #D80032;
    border-radius: 16px;
    margin:32px 16px;
    padding: 30px;
}
.skillSection:hover{
    box-shadow: 11px 10px 10px 2px #e54e71;
}
.skillSection p{
    margin: 0;
    padding-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 800;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    border-radius: 16px;
}

.include{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:white;
    font-weight: 600;
    height: 55px;
    border-radius: 13px;
    padding: 0.5rem;
    margin: 10px 16px 5px 0;
    border: 2px solid transparent;
}
.include i{
    font-size: 35px;
}
.include:hover{
    box-shadow: 8px 8px 7px 1px rgb(234, 94, 94);
    border: 2px solid salmon;
}
.intro_outer{
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}
.intro{
    display: flex;
    flex-direction: column;
    background-color: #F9DEC9;
    padding: 1.2rem;
    margin: 20px;
    border-radius: 16px;
}
.intro p{
    font-size: 20px;
}
.intro:hover{
    background-color: #F9DEC9;
    opacity: 0.95;
    box-shadow: 10px 9px 8px 2px #e2b490;
}
button{
    background-color: #F9DEC9;
    border: none;
    padding: 1rem;
    margin: 16px;
    border-radius: 32px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
button:hover{
    box-shadow: 7px 6px 10px 3px #835c3f;
    background-color: salmon;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 255, 255, 0.737);
    font-size: 30px;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    border-radius: 50%;
    padding: 0.75rem;
}
.icon i{
    font-size: 35px;
    color: rgba(0, 255, 255, 0.737);
}


.icon i:hover{
    font-size: 40px;
}

.contact{
    background-color: #F9DEC9;
}
.details{
    text-align: center;
}
.contact i{
    font-size: 35px;
}
.number{
    font-size: 35px;
    margin: 0;
}
.info{
    font-size: 35px;
    color: black;
}
.contact_info{
    margin-top: 10px;
}
.sideMenu{
    display: flex;
    flex-direction: column;
    background-color:black;
    opacity:0.75;
    width: 250px;
    z-index: 1;
    position: absolute;
    margin-left: -500px;
    border-radius: 12px;
    z-index: 0;
}
.SideMenuHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 70px;
    color: orchid;
    font-size: 25px;
}
.crossSign:hover{
    color: red;
    filter: drop-shadow(2px 2px 10px red);
}
.sideOption{
    padding: 1rem;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
}
.sideOption a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.sideOption:hover{
    background-color: rgba(128, 128, 128, 0.577);
}
.hamDiv{
    display: none;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.397);
    padding: 12px;
    margin-top: 10px;
}
.hamDiv i:hover{
    opacity: 1;
}
@media (max-width:850px) {
    .hamDiv{
        display: block;
    }
}