body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.main{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #3C467B;
    overflow-y: auto;
    overflow-x: hidden;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.648);
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_opt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:850px) {
    .nav_options{
        display:none;
    }
}
.nav_name{
    font-weight: 800;
    color: #38BDF8;
    transform: skew(-20deg);
}
.options{
    margin-right: 50px;
    font-size: 20px;
    padding: 16px;
}
.options a{

    text-decoration:underline rgba(0, 0, 0, 0);
    color: white;
    opacity: 0.75;
}
.options a:hover{
    opacity: 1;
    animation: anchorStyle 2s alternate 0s infinite;
}
@keyframes anchorStyle {
    from{
        text-decoration: underline black;
    }
    to{
        text-decoration: underline white;
    }
}
span{
    font-weight:400;
}
.about p{
    line-height: 30px;
    font-weight: 500px;
    font-size: 30px;
}
#name{
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin: 15px 15px 15px 0;
    color: #F7E7CE;
    text-shadow: 15px 5px 10px black;
}
.name_photo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 200px 0 250px 0;
}
@media (max-width:827px){
    .name_photo{
        display: flex;
        flex-direction: column;
        margin: 150px 10px 50px 20px;
    }
    .image{
        margin-top: 10px;
    }
    .name_photo p{
        line-height: 40px;
    }
}
#pic{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hotpink;
    border-radius: 16px;
}
img{
    box-shadow: 19px 11px 20px 5px black;
    height:350px;
    width: 300px;
    border-radius: 16px;
    border: 1px solid wheat;
}
.skillSection{
    background-color: #50589C;
    border-radius: 16px;
    margin: 16px;
}
.skillSection:hover{
    background-color: #50589C;
    box-shadow: 13px 12px 10px 2px rgba(0, 0, 0, 0.7);

}
.skillSection p{
    margin: 0;
    padding-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 800;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5rem;
    border-radius: 16px;
}

.include{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:white;
    font-weight: 600;
    height: 55px;
    border-radius: 13px;
    padding: 0.5rem;
    margin: 10px 16px 5px 0;
    border: 2px solid transparent;
}
.include i{
    font-size: 35px;
}
.include:hover{
    box-shadow: 8px 8px 7px 1px rgba(0, 0, 0, 0.7);
}
.intro_outer{
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}
.intro{
    display: flex;
    flex-direction: column;
    background-color: #5b5bc9;
    padding: 1.2rem;
    margin: 20px;
    border-radius: 16px;
}
.intro:hover{
    box-shadow: 16px 14px 8px 1px rgba(0, 0, 0, 0.601);
}
button{
    background-color: #5b5bc9;
    color:wheat;
    border: none;
    padding: 1rem;
    margin: 16px;
    border-radius: 32px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
button:hover{
       box-shadow: 7px 6px 10px 3px black;
        background-color: rgba(128, 128, 128, 0.23);
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 255, 255, 0.737);
    font-size: 30px;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    border-radius: 50%;
    padding: 0.75rem;
}
.icon i{
    font-size: 35px;
    color: rgba(0, 255, 255, 0.737);
}


.icon i:hover{
    font-size: 40px;
}

.contact{
    background-color: rgba(72, 209, 205, 0.607);
}
.details{
    text-align: center;
}
.contact i{
    font-size: 35px;
}
.number{
    font-size: 35px;
    margin: 0;
}
.info{
    font-size: 35px;
}
.contact_info{
    margin-top: 10px;
}
.number p:hover{
    font-weight: 500;
}
.sideMenu{
    background-color:black;
    opacity:0.75;
    height: 100vh;
    width: 250px;
    z-index: 1;
    position: absolute;
    margin: 60px 0 0 -500px;
    border-radius: 12px;
}
.SideMenuHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: orchid;
    font-size: 25px;
}
.crossSign:hover{
    color: red;
    filter: drop-shadow(2px 2px 10px red);
}
.sideOption{
    padding: 1rem;
    text-align: center;
    margin: 5px;
    border-radius: 16px;
}
.sideOption a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.sideOption:hover{
    background-color: rgba(128, 128, 128, 0.31);
}
.hamDiv{
    display: none;
    font-size: 25px;
    color: white;
    padding: 12px;
    margin-top: 10px;
}
@media (max-width:850px) {
    .hamDiv{
        display: block;
    }
}