body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.container{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color:#0f121a;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: gray black;
    min-height: 100vh;
    flex: 1;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    background-color:#262533;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1
}
.nav_opt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:850px) {
    .nav_options{
        display:none;
    }
}
.nav_name{
    color: #5b5bc9;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.options{
    margin-right: 50px;
    font-size: 20px;
    padding: 16px;
}
.options a{

    text-decoration:underline rgba(0, 0, 0, 0);
    color: white;
    opacity: 0.75;
}
.options a:hover{
    opacity: 1;
    animation: anchorStyle 2s alternate 0s infinite;
}
@keyframes anchorStyle {
    from{
        text-decoration: underline black;
    }
    to{
        text-decoration: underline white;
    }
}
span{
    font-weight:400;
    color: white;
    font-weight: bold;
}
.about p{
    line-height: 30px;
    font-weight: 700px;
    font-size: 30px;
    color:firebrick;
}
.nav_name{
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(20%);
    }
}
#name{
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin: 15px 15px 15px 0;
    color: #F7E7CE;
    text-shadow: 15px 5px 10px black;
}
.name_photo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:0 4rem;
    margin: 200px 0 250px 0;
}
@media (max-width:530px) {
    .name_photo{
        padding: 0 2rem;
    }
}
@media (max-width:850px){
    .name_photo{
        display: flex;
        flex-direction: column;
        margin: 150px 10px 50px 20px;
    }
    .image{
        margin-top: 10px;
    }
    .name_photo p{
        line-height: 40px;
    }
}
#pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 320px;
    border-radius: 16px;
    transition: transform 3s ease;
    transform-style: preserve-3d;
}
#pic:hover{
    transform: rotateY(360deg);
}
img{
    height:350px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 1px 1px 10px 5px black;
}
.skillSection{
    background-color: transparent;
    border-radius: 16px;
    margin:32px 16px;
    padding: 30px;
}
.skillSection:hover{
    box-shadow: 3px 2px 6px 2px black;
}
.skillSection p{
    margin: 0;
    padding-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 800;
    color:#f5efed;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    border-radius: 16px;
}

.include{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:white;
    font-weight: 600;
    height: 55px;
    border-radius: 13px;
    padding: 0.5rem;
    margin: 10px 16px 5px 0;
    transition: transform 3s ease;
    transform-style: preserve-3d;
}
.include:hover{
    transform: rotateY(360deg);
}
.include i{
    font-size: 35px;
}
.include:hover{
    box-shadow: 0 0 3px 0 #7180ac;
}

.intro_outer{
    display: flex;
    justify-content: center;
    align-items: center
}
.intro-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro{
    max-width: 300px;
    min-height: 250px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 16px;
    background-color: #7180ac;
}
.resume-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro p{
    font-size: 20px;
}
.view-resume-btn{
    padding:0.7rem;
    font-size: 1rem;
    border-radius: 12px;
    background-color: #b8dbd91f;
    box-shadow: 0 0 3px 1px black;
    border: none;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 255, 255, 0.737);
    font-size: 30px;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    border-radius: 50%;
    padding: 0.75rem;
}
.icon i{
    font-size: 35px;
    color: rgba(0, 255, 255, 0.737);
    transition: transform 3s ease;
    transform-style: preserve-3d;
}
.icon i:hover{
    font-size: 40px;
    transform: rotateZ(360deg);
}

.contact{
    background-color: #f5efed;
    padding: 1rem;
}
.details{
    text-align: center;
}
.contact i{
    font-size: 25px;
}
.number{
    font-size: 35px;
    margin: 0;
}
.info{
    font-size: 25px;
    color: black;
}
.contact_info{
    margin-top: 10px;
    opacity: 0.7;
}
.contact_info:hover{
    opacity: 1;
}
.info a{
    color: black;
}
.sideMenu{
    display: flex;
    flex-direction: column;
    background-color:black;
    opacity:0.8;
    width: 300px;
    height: 100vh;
    margin-left: -500px;
    z-index: 1;
    position: absolute;
    display: none;
}

.SideMenuHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 70px;
    color: orchid;
    font-size: 25px;
}
.crossSign:hover{
    color: red;
    filter: drop-shadow(2px 2px 10px red);
}
.sideOption{
    padding: 1rem;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
}
.sideOption a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.sideOption:hover{
    background-color: rgba(128, 128, 128, 0.577);
}
.hamDiv{
    display: none;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.397);
    padding: 12px;
    margin-top: 10px;
}
.hamDiv i:hover{
    opacity: 1;
}
@media (max-width:850px) {
    .hamDiv{
        display: block;
    }
    .sideMenu{
        display: block;
    }
}
