<% layout("layouts/boilerplate.ejs") -%>
        <section id="Home">
        <div class="name_photo">
            <div class="about" id="height">
                <p>Hello, I’m</p>
                <p id="name">Nishi kant kumar</p>
                    <h2 style="margin-bottom: 0;"><span id="type"></span></h2>
                   <p style="line-height: 45px;margin-top: 0;"> with experience in building full-stack web applications using MongoDB, Express, React, and Node.js <br>
                <span>B.Tech | National Institute of Technology</span> Arunanchal pradesh.</p>
            </div>
            <div class="image" id="pic">
                <img class="mypic" src="/related/my photo.jpeg">
            </div>
        </div>
        </section>
        <section id="skillSection">
            <div class="skillSection">
                <p>Technical Skills</p>
            <div class="skills">
                <div class="include"><i class="fa-brands fa-html5"></i>HTML</div>
                <div class="include"><i class="fa-brands fa-css3-alt"></i> CSS</div>
                <div class="include"><i class="fa-brands fa-square-js"></i>JavaScript</div>
                <div class="include"><i class="fa-brands fa-node-js"></i>Node js</div>
                <div class="include">Express js</div>
                <div class="include">SQL</div>
                <div class="include">MongoDB</div>
                <div class="include">C language</div>
                <div class="include">C++</div>
                <div class="include">Git & Github</div>
            </div>
            </div>
        </section>
        <section id="about">
    <div class="intro_outer">
        <div class="intro-collection">
            <div class="intro">
                <h1>About Me</h1>
                <p>Hello, I’m Nishikant Kumar — a Full-Stack Developer with experience in building responsive frontend interfaces and scalable backend applications.
                    I enjoy solving problems using Data Structures & Algorithms and turning ideas into real-world web solutions.</p>
            </div>
            <a href="https://github.com/Nishikantkumar192?tab=repositories">
                <div class="intro">
                    <h1>Project</h1>
                    <p>Explore the full-stack projects I’ve built from frontend to backend.</p>
                </div>
            </a>
            <div class="intro">
                <h1>Resume</h1>
                <p>View my resume for a detailed overview of my skills, education, and projects.</p>
                <div><button type="button" class="view-resume-btn"><a href="/related/Nishikant kumar resume.pdf">View Resume</a></button></div>
            </div>
        </div>
    </div>
    </section>
        <section id="contact">
        <div class="icons">
        <div class="icon"><a href="https://www.linkedin.com/in/nishi-kant-kumar-509131329"><i class="fa-brands fa-square-linkedin"></i></a></div>
        <div class="icon"><a href="https://github.com/Nishikantkumar192"><i class="fa-brands fa-github"></i></a></div>
        <div class="icon"><a href="https://wa.me/917630075654"><i class="fa-brands fa-whatsapp"></i></a></div>
        <div class="icon"><a href="https://www.instagram.com/nishikant7236"><i class="fa-brands fa-instagram"></i></a></div>
        </div>
    <div class="contact details">
        <div class="details">
            <h2>Contact Details</h2>
            <div class="contact_info">
                <i class="fa-solid fa-phone"></i>
                <span class="info">7630075654</span>
            </div>
            <div class="contact_info">
                <i class="fa-solid fa-envelope"></i>
                <span class="info"><a href="mailto:nishikants192@gmail.com">nishikants192@gmail.com</a></span>
            </div>
        </div>
    </div>
    </section>