<% layout("layouts/boilerplate.ejs") -%>
        <section id="home">
        <div class="name_photo">
            <div class="about" id="height">
                <p>Hello, I’m</p>
                <p id="name">Nishi kant kumar</p>
                    <h2 style="margin-bottom: 0;"><span id="type"></span></h2>
                   <p style="line-height: 45px;margin-top: 0;"> with experience in building full-stack web applications using MongoDB, Express, React, and Node.js <br>
                <span>B.Tech | National Institute of Technology Arunachal pradesh.</span> </p>
            </div>
            <div class="image" id="pic">
                <img class="mypic" src="/related/my photo.jpeg">
            </div>
        </div>
        </section>
        <section id="skills">
            <div class="skillSection">
                <p>Technical Skills</p>
            <div class="skills">
                <h2><i class="fa-solid fa-code"></i>Frontend</h2>
                <div class="include"><i class="fa-brands fa-html5"></i>HTML</div>
                <div class="include"><i class="fa-brands fa-css3-alt"></i> CSS</div>
                <div class="include"><i class="fa-brands fa-square-js"></i>JavaScript</div>
                <div class="include"><i class="fa-brands fa-bootstrap"></i>Bootstrap</div>
                <div class="include">EJS (Server-side templating)</div>
            </div>
            <div class="skills">
                <h2><i class="fa-solid fa-server"></i>Backend</h2>
                <div class="include"><i class="fa-brands fa-node-js"></i>Node.js</div>
                <div class="include">Express.js</div>
            </div>
             <div class="skills">
                <h2><i class="fa-solid fa-database"></i>Database</h2>
                <div class="include"><i class="fa-solid fa-database"></i>MongoDB</div>
                <div class="include">MongoDB-atlas</div>
            </div>
            <div class="skills">
                <h2><i class="fa-solid fa-screwdriver-wrench"></i> Tools & Platform</h2>
                <div class="include"><i class="fa-brands fa-square-git"></i>Git</div>
                <div class="include"><i class="fa-brands fa-github"></i>GitHub</div>
                <div class="include"><i class="fa-solid fa-cloud"></i>Cloudinary</div>
                <div class="include">VS Code</div>
            </div>
                <div class="skills">
                <h2><i class="fa-solid fa-terminal"></i>Programming</h2>
                <div class="include"><i class="fa-solid fa-database"></i>C++ Programing</div>
            </div>
            </div>
        </section>
        <section id="about">
    <div class="intro_outer">
        <div class="intro-collection">
            <div class="intro">
                <h1>About Me</h1>
                <p>Hello, I’m Nishikant Kumar — a Full-Stack Web Developer with experience in building 
                    responsive frontend interfaces and scalable backend applications. I enjoy solving
                    problems using Data Structures & Algorithms and turning ideas into real-world web solutions.</p>
            </div>
            <div class="intro">
               <h1>What I’m Working On</h1>
                <p>
                    Actively exploring React.js and strengthening problem-solving skills through regular DSA practice on LeetCode.
                </p>
            </div>
            <div class="intro">
                <h1>Project</h1>
                <p>Explore-my full-stack projects built from frontend to backend.</p>
                <ul>
                    <li><a href="https://wanderlust-o59u.onrender.com">Wanderlust – Travel Listing Web Application</a></li>
                </ul>
                <p>PYQ Portal (In Progress)
                    Built a web application for managing college PYQs. Backend logic and core features completed; authentication module in progress.</p>
               
            </div>
            <div class="intro resume-section">
                <div><h1>Resume</h1>
                <p>View my resume for a detailed overview of my skills, education, and projects.</p></div>
                <div><button type="button" class="view-resume-btn">
                    <a href="/related/my_resume.pdf" style="color: white;">View Resume</a></button></div>
            </div>
        </div>
    </div>
    </section>

        <section id="contact">
        <div class="icons">
        <div class="icon"><a href="https://www.linkedin.com/in/nishi-kant-kumar-509131329"><i class="fa-brands fa-square-linkedin"></i></a></div>
        <div class="icon"><a href="https://github.com/Nishikantkumar192"><i class="fa-brands fa-github"></i></a></div>
        <div class="icon"><a href="https://wa.me/917630075654"><i class="fa-brands fa-whatsapp"></i></a></div>
        <div class="icon"><a href="https://www.instagram.com/nishikant7236"><i class="fa-brands fa-instagram"></i></a></div>
        </div>
    <div class="contact details">
        <div class="details">
            <h2>Contact Details</h2>
            <div class="contact_info">
                <i class="fa-solid fa-phone"></i>
                <span class="info">7630075654</span>
            </div>
            <div class="contact_info">
                <i class="fa-solid fa-envelope"></i>
                <span class="info"><a href="mailto:nishikants192@gmail.com">nishikants192@gmail.com</a></span>
            </div>
        </div>
    </div>
    </section>